#!/usr/bin/env python

import subprocess
from flask import Flask, json

api = Flask(__name__)


@api.route('/hddtemp', methods=['GET'])
def get_hddtemp():
    mapObj = []
    p = subprocess.Popen('hddtemp -w', shell=True, stdout=subprocess.PIPE, stderr=subprocess.STDOUT)
    for line in p.stdout.readlines():
        hddtemp = {}
        raw = line.decode()
        raw = raw.split(':')
        if 'S.M.A.R.T' in raw[2]:
            hddtemp['name'] = raw[0]
            hddtemp['temperature'] = int(raw[2].split('°')[0])
        else:
            hddtemp['name'] = raw[0]
            hddtemp['temperature'] = int(raw[2].split('°')[0])
        mapObj.append(hddtemp)
    return json.dumps(mapObj)


if __name__ == '__main__':
    api.run()
