# IntelliJ IDEA #
.idea/
.vault*
*.iml
atlassian-ide-plugin.xml
*.pyc
*.fact
*#
*~
.#*
tmp/
collection/*

# virtualenv #
virtualenv_ansible_*

# ansible #
*.retry
vault.key

# launcher local
/*_local.sh

*.cred

.cred.yml