
[Unit]
Description="juno node"
After=network-online.target

[Service]
User=moz
Group=moz
WorkingDirectory="{{ juno_node_path }}"
ExecStart="{{ juno_node_path }}/go/bin/junod start"

Environment="DAEMON_NAME=junod"
Environment="DAEMON_HOME="{{ juno_node_path}}/.juno"
Environment="DAEMON_ALLOW_DOWNLOAD_BINARIES=false"
Environment="DAEMON_RESTART_AFTER_UPGRADE=true"
Environment="UNSAFE_SKIP_BACKUP=true"
Environment="GOPATH=$HOME/go"
Environment="GOROOT=/usr/local/go"
Environment="GO111MODULE=on"
Environment="PATH=$PATH:/usr/local/go/bin:{{ juno_node_path }}/go/bin"

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target