# Module: http
# Docs: https://www.elastic.co/guide/en/beats/metricbeat/main/metricbeat-module-http.html

- module: http
  metricsets:
    - json
  period: 10s
  hosts: ["localhost:26657"]
  namespace: "json_namespace"
  path: "/status"

- module: http
  metricsets:
    - json
  period: 10s
  hosts: ["localhost:26657"]
  namespace: "json_namespace"
  path: "/net_info"

