[Unit]
Description=HAProxy
After=syslog.target network.target

[Service]
Type=notify
ExecStart={{ haproxy_bin }} -f {{ haproxy_config_file }} -p {{ haproxy_pid_file }} {{ haproxy_start_option }}
ExecReload=/bin/kill -USR2 $MAINPID
ExecStop=/bin/kill -USR1 $MAINPID

[Install]
WantedBy=multi-user.target