{
  "indices": [
    {
      "names": ["flux-*", "cosmos-*", "defi-*", "minotor-*", "metricbeat*", ".monitoring-*", "osmosis-*"],
      "privileges": [ "read", "monitor", "view_index_metadata" ]
    }
  ]
}