{
  "cluster": [ "manage_index_templates"],
  "indices": [
    {
      "names": ["flux-*", "cosmos-*", "defi-*", "minotor-*"],
      "privileges": [ "write", "create_index", "manage", "view_index_metadata" ]
    }
  ]
}