[Unit]
Description=chia_rpc unit service

[Service]
User=root
ExecStart={{ chia_rpc_clone_path}}/main.py --chia_root {{ chia_rpc_config_path }} --node_id {{ chia_rpc_node_id }}
Restart=always

[Install]
WantedBy=multi-user.target
