---
# config file version
apiVersion: {{ grafana_datasources_deleted_version }}

{% if grafana_datasources_deleted %}
# list of datasources that should be deleted from the database
deleteDatasources:
{% for deleted_datasource in grafana_datasources_deleted %}
  - name: {{ deleted_datasource.name }}
    orgId: {% if deleted_datasource.get('c3') %}2{% else %}1{% endif %}

{% endfor %}
{% endif %}
