# Set to true to log user information returned from LDAP
verbose_logging = true

[[servers]]
# LDAP server host
host = "{{ grafana_ldap_host }}"
# Usual port is 389, or, if TLS is supported, 636
port = {{ grafana_ldap_port }}
# Set to true if LDAP server supports TLS
use_ssl = true
# set to true if you want to skip SSL cert validation
ssl_skip_verify = false
# set to the path to your root CA certificate or leave unset to use system defaults
root_ca_cert = "{{ idatha_autority_path }}"


# Search user bind dn
bind_dn = "{{ grafana_ldap_bind_user }}"
# Search user bind password
bind_password = "{{ grafana_ldap_password }}"

# Search filter, for example "(cn=%s)" or "(sAMAccountName=%s)"
search_filter = "{{ grafana_ldap_search_filter }}"
# An array of base dns to search through
search_base_dns = ["{{ grafana_user_search_base_dns }}"]

## Group search filter, to retrieve the groups of which the user is a member (only set if memberOf attribute is not available)
group_search_filter = "{{ grafana_group_search_filter }}"
## An array of the base DNs to search through for groups. Typically uses ou=groups
group_search_base_dns = ["{{ grafana_group_search_base_dns }}"]

# Map LDAP user attributes to Grafana user attributes
[servers.attributes]
name = "givenName"
surname = "sn"
username = "uid"
member_of = "cn"
email =  "mail"

{% if grafana_ldap_group_mapping_enabled %}
# Map LDAP groups to Grafana org roles
# 1 = idatha_c1
# 2 = idatha_c3
# 3 = legacy_oi
# 4 = legacy_linky
# 5 = legacy_icam
# 6 = legacy_oi_c3
# 7 = legacy_linky_c3
# 8 = legacy_icam_c3
[[servers.group_mappings]]
group_dn = "IDA_ADMIN"
org_role = "Admin"
grafana_admin = true
org_id = 1
org_ids = [1,2]

[[servers.group_mappings]]
group_dn = "IDA_C3"
org_role = "Editor"
org_id = 1
org_ids = [1,2]

[[servers.group_mappings]]
group_dn = "IDA_DEV"
org_role = "Editor"
org_id = 1
org_ids = [1]

[[servers.group_mappings]]
group_dn = "IDA_USER-ADVANCED"
org_role = "Editor"
org_id = 1
org_ids = [1]

[[servers.group_mappings]]
group_dn = "IDA_USER"
org_role = "Viewer"
org_id = 1
org_ids = [1]
{% endif %}
