---
- module: http
  metricsets:
    - json
  period: 60s
  hosts: ["localhost:8555"]
  namespace: "get_blockchain_state"
  path: "/get_blockchain_state"
  ssl.certificate: "/chia/config/ssl/full_node/private_full_node.crt"
  ssl.key: "/chia/config/ssl/full_node/private_full_node.key"
  body: ""
  method: "POST"

- module: http
  metricsets:
    - json
  period: 60s
  hosts: ["localhost:8555"]
  namespace: "get_network_space"
  path: "/get_network_space"
  ssl.certificate: "/chia/config/ssl/full_node/private_full_node.crt"
  ssl.key: "/chia/config/ssl/full_node/private_full_node.key"
  body: ""
  method: "POST"

- module: http
  metricsets:
    - json
  period: 60s
  hosts: ["localhost:8555"]
  namespace: "healthz"
  path: "/healthz"
  ssl.certificate: "/chia/config/ssl/full_node/private_full_node.crt"
  ssl.key: "/chia/config/ssl/full_node/private_full_node.key"
  body: ""
  method: "POST"

- module: http
  metricsets:
    - json
  period: 60s
  hosts: ["localhost:$2"]
  namespace: "$3"
  path: "/$3"
  ssl.certificate: "/chia/config/ssl/$4/private_$4.crt"
  ssl.key: "/chia/config/ssl/$4/private_$4.key"
  body: ""
  method: "POST"

- module: http
  metricsets:
    - json
  period: 60s
  hosts: ["localhost:8559"]
  namespace: "get_pool_state"
  path: "/get_pool_state"
  ssl.certificate: "/chia/config/ssl/farmer/private_farmer.crt"
  ssl.key: "/chia/config/ssl/farmer/private_farmer.key"
  body: ""
  method: "POST"

- module: http
  metricsets:
    - json
  period: 60s
  hosts: ["localhost:8559"]
  namespace: "get_harvesters"
  path: "/get_harvesters"
  ssl.certificate: "/chia/config/ssl/farmer/private_farmer.crt"
  ssl.key: "/chia/config/ssl/farmer/private_farmer.key"
  body: ""
  method: "POST"

- module: http
  metricsets:
    - json
  period: 60s
  hosts: ["localhost:8559"]
  namespace: "get_harvesters_summary"
  path: "/get_harvesters_summary"
  ssl.certificate: "/chia/config/ssl/farmer/private_farmer.crt"
  ssl.key: "/chia/config/ssl/farmer/private_farmer.key"
  body: ""
  method: "POST"

- module: http
  metricsets:
    - json
  period: 60s
  hosts: ["localhost:8559"]
  namespace: "get_harvester_plots_valid"
  path: "/get_harvester_plots_valid"
  ssl.certificate: "/chia/config/ssl/farmer/private_farmer.crt"
  ssl.key: "/chia/config/ssl/farmer/private_farmer.key"
  body: ""
  method: "POST"

- module: http
  metricsets:
    - json
  period: 60s
  hosts: ["localhost:8559"]
  namespace: "get_harvester_plots_invalid"
  path: "/get_harvester_plots_invalid"
  ssl.certificate: "/chia/config/ssl/farmer/private_farmer.crt"
  ssl.key: "/chia/config/ssl/farmer/private_farmer.key"
  body: ""
  method: "POST"

- module: http
  metricsets:
    - json
  period: 60s
  hosts: ["localhost:8559"]
  namespace: "get_harvester_plots_keys_missing"
  path: "/get_harvester_plots_keys_missing"
  ssl.certificate: "/chia/config/ssl/farmer/private_farmer.crt"
  ssl.key: "/chia/config/ssl/farmer/private_farmer.key"
  body: ""
  method: "POST"

- module: http
  metricsets:
    - json
  period: 60s
  hosts: ["localhost:8559"]
  namespace: "get_harvester_plots_duplicates"
  path: "/get_harvester_plots_duplicates"
  ssl.certificate: "/chia/config/ssl/farmer/private_farmer.crt"
  ssl.key: "/chia/config/ssl/farmer/private_farmer.key"
  body: ""
  method: "POST"

- module: http
  metricsets:
    - json
  period: 60s
  hosts: ["localhost:8560"]
  namespace: "get_plots"
  path: "/get_plots"
  ssl.certificate: "/chia/config/ssl/harvester/private_harvester.crt"
  ssl.key: "/chia/config/ssl/harvester/private_harvester.key"
  body: ""
  method: "POST"

- module: http
  metricsets:
    - json
  period: 60s
  hosts: ["localhost:8560"]
  namespace: "get_plots"
  path: "/get_plots"
  ssl.certificate: "/chia/config/ssl/harvester/private_harvester.crt"
  ssl.key: "/chia/config/ssl/harvester/private_harvester.key"
  body: ""
  method: "POST"

