- module: http
  metricsets:
    - json
  period: 10s
  hosts: ["localhost:26657"]
  namespace: "nibiru_status"
  path: "/status"

- module: http
  metricsets:
    - json
  period: 10s
  hosts: ["localhost:26657"]
  namespace: "nibiru_net_info"
  path: "/net_info"
