{{ kibana_log_dir }}/kibana.log {
  daily
  dateext
  rotate {{ kibana_retention_log }}
  copytruncate
  missingok
  notifempty
  postrotate
  /bin/kill -HUP $(cat {{ kibana_pid_dir }}/kibana.pid 2>/dev/null) 2>/dev/null
  endscript
}
