#---------------------------------------------------------------------
# Frontend settings
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Backend settings
#---------------------------------------------------------------------
#---------------------------------------------------
# kafka_rest
#---------------------------------------------------
backend backend_kafka_rest
    mode http
    http-request set-path %[path,regsub(/kafka-rest/,/)]
    default-server check ssl check-ssl {% if not env in ['dev', 'qual'] %} verify required {% endif %} ca-file {{ idatha_autority_file }} fall 2 rise 2
{% for host in haproxy_kafka_rest_groups %}
    server srv_brok{{loop.index}} {{ hostvars[host]['ansible_host'] }}:4443 verifyhost {{ hostvars[host]['ansible_host'] }}
{% endfor %}
