#---------------------------------------------------------------------
# Frontend settings
#---------------------------------------------------------------------
frontend idatha_log
    bind *:7443 ssl crt {{ ansible_host }}.pem ca-file {{ idatha_autority_file }} verify required crl-file crl-bundle.pem

    acl https          ssl_fc
    redirect scheme https if !https
    acl cookie_secure res.hdr(Set-Cookie),lower -m sub secure
    http-response     replace-header  Set-Cookie (.*)   \1;\ Secure if https !cookie_secure

    acl valid_method method GET POST PUT DELETE
    http-request deny if ! valid_method
    http-request set-header NNI           %{+Q}[ssl_c_s_dn(uid)]
    acl valid_nni req.fhdr(NNI) -m str -f {{ haproxy_whitelist_file }}
    http-request deny if !valid_nni
    default_backend idatha_log

#---------------------------------------------------------------------
# Backend settings
#---------------------------------------------------------------------
backend idatha_log
    option httpchk GET /sup/login.jsp
    http-check expect status 200
    http-request set-header X-Client-CN                 %{+Q}[ssl_c_s_dn(uid)]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    server idatha_log za-{{ haproxy_site_idathalog }}.idatha-log.za.zse.enedis.fr:7443 check check-ssl ssl verify required ca-file {{ idatha_autority_file }} crt {{ ansible_host }}.pem
