#---------------------------------------------------
# Frontend for alert api (02_frontend.cfg)
#---------------------------------------------------

#---------------------------------------------------
# Backend for alert api:8043 [http]
#---------------------------------------------------
backend backend_ida_alert_api
    mode http
    http-request set-path %[path,regsub(/alert-api/,/)]
    default-server check ssl check-ssl ca-file {{ idatha_autority_file }} fall 2 rise 2 inter 10000 fastinter 2000
{% for host in haproxy_ida_alert_api_groups %}
    server srv_alert{{loop.index}} {{ hostvars[host]['ansible_host'] }}:8043
{% endfor %}
    option httpchk GET /status
    http-check expect status 200
