#---------------------------------------------------------------------
# Frontend for idatha-expert (02_frontend.cfg)
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Backend for idatha-expert:443 [http]
#---------------------------------------------------------------------
backend backend_idatha-expert
    mode http
{% if env != 'prod_zhb' %}
    balance roundrobin
    cookie grafana_session prefix nocache
{% endif %}
    option httpchk GET /api/health

    acl grafana_datasources_proxy   path_beg         /api/datasources/proxy
    acl grafana_front_alias_referer req.hdr(Referer) -i -m beg {{ idatha_expert_url }}
{# Gère le cas de la dev sans ida_noe #}
{% if 'load_ida_noe_01' in groups['ida_noe'] | default ([])%}
    acl grafana_front_noe_referer   req.hdr(Referer) -i -m beg https://{{ hostvars['load_ida_noe_01']['ansible_host'] }}
{% endif %}
    acl grafana_front_pacy_referer  req.hdr(Referer) -i -m beg https://{{ hostvars['load_ida_pacy_01']['ansible_host'] }}

{% if env == 'prod_zhb' %}
    http-request deny if grafana_datasources_proxy !grafana_front_alias_referer !grafana_front_noe_referer !grafana_front_pacy_referer
{% else %}
    http-request deny if grafana_datasources_proxy !grafana_front_alias_referer !grafana_front_pacy_referer{% if 'load_ida_noe_01' in groups['ida_noe'] | default ([])%} !grafana_front_noe_referer{% endif %}
{% endif %}

{% if env != 'prod_zhb' %}
    default-server check ssl force-tlsv12 verify required ca-file {{ idatha_autority_file }} crl-file crl-bundle.pem
{% endif %}
{% if env == 'prod_zhb' %}
    server srv_grafana front01.{{ dns_suffix }}:3000 check ssl force-tlsv12 verify required ca-file {{ idatha_autority_file }} crl-file crl-bundle.pem verifyhost front01.{{ dns_suffix }}
{% else %}
{% for grafana_server in groups['grafana'] %}
    server srv_grafana{{ "%02d"|format(loop.index) }}_{{ hostvars[grafana_server]['site'] }} {{ hostvars[grafana_server]['ansible_host'] }}:3000 verifyhost {{ hostvars[grafana_server]['ansible_host'] }} cookie srv_grafana{{ "%02d"|format(loop.index) }}_{{ hostvars[grafana_server]['site'] }}
{% endfor %}
{% endif %}
