# {{ ansible_managed }}
# Ce fichier est déposé à vide car à l'upgrade du rpm, haproxy
# vérifie l'existence d'un fichier haproxy.cfg et en crée un par défaut
# si il n'en existe pas. Il pose un certain nombre de defaults et des
# interfaces en écoute qui pourraient interférer avec l'utilisation qui est faite.
# Dans son fonctionnement actuel, HaProxy charge tous les fichiers présents
# dans {{ haproxy_config_folder }} (via la surcharge faite dans /etc/sysconfig/haproxy)
# Liste des fichiers chargés:
{% for item in haproxy_templates | sort(attribute='dest') %}
# {{ item.dest }}
{% endfor %}
