{{ haproxy_log_dir }}/haproxy.log {
    daily
    rotate {{ haproxy_logrotate_rotate|default(10)|int }}
    maxsize {{ haproxy_logrotate_max_size }}
    missingok
    notifempty
    compress
    delaycompress
    sharedscripts
    postrotate
        /bin/kill -HUP `cat /var/run/syslogd.pid 2> /dev/null` 2> /dev/null || true
    endscript
}
