# haproxy rsyslog logging config

# you may want to disable the UDP listener here and enable it in the master /etc/rsyslog.conf location instead
$ModLoad imudp
$UDPServerAddress 127.0.0.1 # this MUST be before the $UDPServerRun directive!
$UDPServerRun 514

$FileCreateMode 640
$FileOwner haproxy
$FileGroup haproxy

local3.*       {{ haproxy_log_dir }}/haproxy.log
local3.*       stop
